@model AkilliYemekTarifOneriSistemi.Models.Recipe

<h2 class="text-danger mb-3">⚠️ Tarif Sil</h2>

<div class="card p-4 shadow-sm">
    <p><strong>@Model.Name</strong> tarifini silmek istiyor musun?</p>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button class="btn btn-danger">Sil</button>
        <a href="/Recipes" class="btn btn-secondary">Vazgeç</a>
    </form>
</div>
