@model List<AkilliYemekTarifOneriSistemi.Models.Recipe>

<h2 class="fw-bold mb-4">❤️ Favorilerim</h2>

@if (!Model.Any())
{
    <div class="alert alert-info rounded-4">
        Henüz favori tarifiniz yok.
    </div>
}
else
{
    <div class="row g-4">
        @foreach (var r in Model)
        {
            <div class="col-md-4">
                <div class="card recipe-card border-0 shadow-sm">
                    <img src="@r.ImageUrl" class="recipe-img w-100" />

                    <div class="card-body">
                        <h6 class="fw-bold">@r.Title</h6>

                        <a asp-action="Details"
                           asp-route-id="@r.Id"
                           class="btn btn-sm btn-outline-dark w-100 rounded-pill">
                            Gör →
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
